@mixin button-purple {
  box-shadow: 0px 6px 7px 0px #d4d4d4;
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 40px;
  height: 55px;
  color: white;
  border-color: #f7f6f6;
  padding-left: 20pX;
  padding-right: 20pX;
}