.card, .titre-coeur{
.coeur {
  /*Placement du coeur blanc sur les images restaurants (placer differement directement dans les pages restau)*/
  grid-area: 2 / 2 / 3 / 3;
  font-size: x-large;
  z-index: 2;
  opacity: 1;
  height: 25px;
  width: 25px;
  margin-top: 15px;
  margin: auto
  }

  input {
  /*Placement d'une checkbox permettant de cocher le coeur ou non '*/
    
    grid-area: 2 / 2 / 3 / 3;
    cursor: pointer;
    opacity: 0;
    z-index: 4;
    height: 25px;
    width: 25px;
    margin: auto;
  /*annimation de remplissage du coeur*/

      &:checked ~.coeur-linear {
  
        opacity: 1; /*le coeur dégradé apparait*/
        transition: 400ms;/*durée de l'aimation*/
      }

      &:checked ~.coeur {
        opacity: 0; /*le coeur blanc disparait*/
        transition: 400ms;
      }
  }

.coeur-linear {
  /*Placement du coeur en dégradé sur les images restaurants*/
  
  grid-area: 2 / 2 / 3 / 3;
  font-size: x-large;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(#9356DC,#FF79DA);
  opacity: 0;
  z-index: 3;
  height: 25px;
  width: 25px;
  margin-top: 15px;
  margin: auto;
}
}
 /*le coeur blanc, le coeur dégradé et la checkbox sont supérposés 
 pour permettre une interaction et une apparition*/