@import "./../components/button.scss";

*{
  font-family: "Roboto", sans-serif;
}
.main_slogan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
  align-items: center;

  .localisation {
    display: flex;
    flex-direction: row;
    background-color:#EAEAEA;
    width: 100%;
    justify-content: center;
    gap: 8px;
    padding: inherit;

      i {
        display: flex;
        align-items: center;
      }
      input {
        text-align: center;
        background:#EAEAEA;
        border:none;
        width: 35%;
        height: 50px;
      }
  } 
  .slogan-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
    align-items: center;
    background-color: #f7f6f6;
    width: 100%;
    padding-bottom: 60px;
    h2 {
    text-align: center;
    }

    h3 {
      text-align: center;
      margin-top: 0px;
      font-weight: normal;
    }

   .button-round-purple{
      @include button-purple;
      display: inline-flex;
      align-items: center;
    }
  }
}

.fonction {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
    .titre-fonc {
      font-weight: bold;
      font-size: x-large;
      padding-left: 15px;
    }
    .button-fonc{
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 15px;
      align-items: center;
        button {
          display: flex;
          flex-direction: row;
          align-items: center;
          width: 90%;
          gap: 17px;
          border-radius: 20px;
          height: 70px;
          border-color: white;
          background: #f6f6f6;
      }
        .number {
          background-color: #9356DC;
          border-radius: 50%;
          width: 15px;
          color: white;
          padding: 3px;
          margin-left: -15px;
        }
  }
}