.main_slogan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
  align-items: center;

  .localisation {
    display: flex;
    flex-direction: row;
    background-color:#EAEAEA;
    width: 100%;
    justify-content: center;
    gap: 8px;
    padding: inherit;

      i {
        display: flex;
        align-items: center;
      }
  } 
  h2 {
  text-align: center;
  }

  h3 {
    text-align: center;
    margin-top: 0px;
  }

  button{
    background: linear-gradient(#FF79DA, #9356DC);
    border-radius: 40px;
    height: 50px;
    color: white;
    border-color: white;
    width: 80%;
  }
}

.fonction {
  display: flex;
  flex-direction: column;

    button {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    .number {
      background-color: #9356DC;
      border-radius: 50px;
      width: 15px;
      color: white;
      padding: 3px;
    }
}