img {
  width: 100%;
}

.categories{
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #f7f6f6;

    .button-plat {
      background-color: white;

      .bas {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    }
}