/*une durée d'animation différentes pour chaques categories de plat pour que chacune arrive en décalé*/
.categories-entree {
  animation: casquade-entree 1s;
}

.categories-plats {
  animation: casquade-plats 1.5s;
}

.categories-dessert {
  animation: casquade-dessert 2.5s;
}
/*la même animation pour les 3 categories mais à des timming differents*/
@keyframes casquade-entree {
  0% {
    /*au début de l'animation la categories et invisible et décalée de 40px en bas*/
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    /*pour finir visible et à sa position initiale*/
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes casquade-plats {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}


@keyframes casquade-dessert {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}