@media (min-width: 710px) {
  
  .main_slogan {
    .localisation{
    gap: inherit;
      input {
        margin: 0px;
        width: 11%;
      }
    }
     
  }

  .fonction {
  margin-left: 90px;
  margin-right: 90px;


    .titre-fonc{
      padding-left: 0px;
    }
    .button-fonc{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      
        button {
          width: 75%;
          max-width: 324px;
          margin: 0px;
        }

    }
  }

  .titre-card{
    padding-left: 90px;
    padding-right: 90px;

      .titre-rest {
        padding-left: 0px;
      }
      .card-rest{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 90px;
        grid-row-gap: 60px;

        .card{
          width: 100%;
        }

        .la-palette{
          grid-area: 1 / 1 / 2 / 2;
        }

        .la-note { 
          grid-area: 1 / 2 / 2 / 3; 
        }
        .francaise { 
          grid-area: 2 / 1 / 3 / 2; 
        }
        .le-delice { 
          grid-area: 2 / 2 / 3 / 3
        }
      }
  }

  footer {
   display: flex;
   flex-direction: row-reverse;
   align-items: center;

    img {
      margin-right: 50px;
    }
    .foot-txt{
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      padding-top: 20px;

      #restaurant {
        margin-right: 20px;
      }

      #partenaire {
        margin-right: 50px;
      }

      #mentions {
        margin-right: 20px;
      }

      #contatc {
        margin-right: 50px;
      }
    }

  
  }

  .main-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;

      .titre-coeur{
        width: 30%;
      }
      .categories-entree, .categories-plats, .categories-dessert{
        width: 65%;
      }

      .button-round-purple {
        width: 20%;
      }
  }

}